body {
	width: 100%;
	margin: 0 auto;
	font-family: Arial, sans-serif;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

/*Navigation bar*/
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1%;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 550;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover {
    color: #088174;
}

main {
    display: flex;
	flex-wrap: wrap;
}

section{
	flex: 1;
	padding: 20px;
	background-color: #f5f5f5;
}

aside{
    flex: 2;
	padding: 20px;
}

aside iframe{
    padding-left: 10%;
}

footer {
	background-color: red;
	padding: 10px;
	text-align: center;
	color: #fff;
	margin-top: 20px;
}

footer p {
	margin: 0;
	font-size: 1rem;
}

@media only screen and (max-width: 600px) {
    main {
      flex-direction: column;
      align-items: center;
    }
  
    aside,
    section {
      flex: none;
      margin: 1em 0;
      width: 100%;
    }
  
    nav {
      flex-direction: column;
      align-items: center;
    }
  
    nav a {
      margin: 1em;
    }
  }